[Desktop Entry]
Type=Application
Exec=kirogi -qwindowtitle %c %u
Icon=kirogi
GenericName=Drone ground control
GenericName[ca]=Control terrestre de drons
GenericName[ca@valencia]=Control terrestre de drons
GenericName[es]=Control desde tierra de drones
GenericName[et]=Droonide maapealne juhtimine
GenericName[fr]=Contrôle sol pour drone
GenericName[it]=Controllo da terra dei droni
GenericName[ko]=드론 지상 제어
GenericName[nl]=Besturing vanaf de grond voor drones
GenericName[pl]=Sterowanie dronem
GenericName[pt]=Controlo terrestre de drones
GenericName[pt_BR]=Controlo terrestre de drones
GenericName[sk]=Pozemné ovládanie dronov
GenericName[sl]=Letalska kontrola dronov
GenericName[sv]=Markkontroll av drönare
GenericName[uk]=Програма для керування дроном
GenericName[x-test]=xxDrone ground controlxx
Terminal=false
Name=Kirogi
Name[ca]=Kirogi
Name[ca@valencia]=Kirogi
Name[cs]=Kirogi
Name[es]=Kirogi
Name[et]=Kirogi
Name[fr]=Kirogi
Name[it]=Kirogi
Name[ko]=기러기
Name[nl]=Kirogi
Name[pl]=Kirogi
Name[pt]=Kirogi
Name[pt_BR]=Kirogi
Name[sk]=Kirogi
Name[sl]=Kirogi
Name[sv]=Kirogi
Name[uk]=Kirogi
Name[x-test]=xxKirogixx
Name[zh_TW]=Kirogi
Categories=Qt;KDE;Network;IRCClient;Science;Geoscience;RemoteAccess;Sports;Photography
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kirogi
StartupNotify=true
